@import '../tailwind/tailwind.css';

@import '../../fonts/red-hat-display/font.css';

* {
    font-family: 'Red Hat display', sans-serif;
    font-weight: inherit;
    @apply box-border m-0 p-0;
}

body, html {
    @apply w-full h-full bg-[#f5f5f5] flex relative;
}

main {
    @apply relative my-auto min-h-screen py-12 justify-center mx-16 content-center;
}

main a {
    @apply inline-block decoration-0 no-underline uppercase text-[#999] font-medium bg-white rounded-[3.125rem] duration-400 ease-in-out;
}

.span-Plantel {
    @apply uppercase tracking-widest text-base text-[#999];
}

.h1-Principal {
    @apply capitalize tracking-wider font-black text-5xl bg-[#8d0066] bg-linear-[45deg,#8d0066,#000] bg-[100%] bg-repeat bg-clip-text text-transparent;
}

.hr-Main {
    @apply block bg-[#8d0066] h-1 w-28 border-none mt-5 mr-0 mb-6 ml-0;
}

.p-Main {
    @apply leading-6;
}
.a-Main {
    @apply border-2 border-solid border-[#666] mt-9 px-4 py-4 hover:border-2 hover:border-solid hover:border-[#8d0066] hover:text-white hover:bg-[#8d0066];
}

.swiper-Main {
    @apply w-full py-[50px] flex justify-center max-w-[51rem]; 
}

.swiper-slide-Main {
    @apply bg-center bg-cover w-[400px] h-[600px];
}

.card-Main{
    @apply mr-6 transition-all duration-500 ease-[cubic-bezier(0.175,0.885,0,1)] bg-white relative rounded-[12px] overflow-hidden shadow-xl hover:shadow-neutral-400 hover:scale-[1.10] w-full h-full;
}

.card-1-Main .card_img-Main{
    background-image: url('../../../../public/index/img-login-UDI.png');
}

.card_img-Main {
    @apply invisible bg-cover bg-center bg-no-repeat w-full h-[400px] rounded-t-[12px];
}











